 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap');

 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: .938rem;
  background-color: hsl(19, 100%, 96%);
  color: hsl(19, 16%, 35%);
  transition: background 0.4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: hsl(19, 16%, 15%);
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: 1.5rem;
  font-family: "Lora", serif;
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size:1.25rem;
  font-family: "Dancing Script", cursive;
  color: hsl(19, 64%, 54%);
  margin-bottom: 0.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: hsl(19, 100%, 96%);
  top: 0;
  left:0;
  z-index: 100;
  transition: box-shadow .3s, background .4s;
}


.nav{
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  display: flex;
  color: hsl(19, 16%, 15%);
}

.nav__logo{
  align-items: center;
  column-gap: .5rem;
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  transition: color .3s;
}

.nav__logo img{
  width: 25px;
}

/* Show menu */


/* Change background header */


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/


/*=============== POPULAR ===============*/


/*=============== RECENTLY ===============*/


/*=============== NEWSLETTER ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */